{% trans_default_domain 'FOSUserBundle' %}

<h1>inscriptions</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_label(form.username, 'Nom d\'utilisateur') }}
    {{ form_widget(form.username) }}
    

    {{ form_label(form.email, 'Adresse e-mail') }}
    {{ form_widget(form.email) }}
    
    
    {{ form_label(form.plainPassword.first, 'Mot de passe') }}
    {{ form_widget(form.plainPassword.first) }}
    

    {{ form_label(form.plainPassword.second, 'Répéter votre mot de passe') }}
    {{ form_widget(form.plainPassword.second) }}
    

    {#{ form_label(form.identity) }#}
    {{ form_widget(form.identity) }}
    
    <div>
        <input type="submit" class="btn btn-primary" value="inscription" />
    </div>
{{ form_end(form) }}
