{% extends 'base.html.twig' %}

{% block body %}
<main role="" class="container">
    <h1>Ajouter un role a un utilisateur</h1>
    
    <form method="post">

        <div class="form-group">
            <label for="chosed-user">Role</label>
            <select name="chosed-user" id="chosed-user" class="form-control">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for"chosed-role">Role</label>
            <select name="chosed-role" id="chosed-role" class="form-control ">
                <option value="ROLE_ACHETEUR">Acheteur</option>
                <option value="ROLE_FOURNISSEUR">Fourniseur</option>
                <option value="ROLE_MODERATEUR">Moderateur</option>
                <option value="ROLE_ADMIN">Administrateur</option>
            </select>
        </div>

        <input type="submit" value="Changer le role" class="btn btn-outline-success">
    </form>
</main>
{% endblock %}