{% extends 'base.html.twig' %}

{% set title = 'Page d\'inscription' %}

{% block body %}

    <main role="main" class="container">

            {% block fos_user_content %}
            {% endblock fos_user_content %}

    </main>

{% endblock %}
