{% extends 'base.html.twig' %}


{% block body %}

<main role="main" class="container">
    <h1>Ajouter un produit</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

    <input type="submit" value="Ajouter une catégorie" class="btn btn-success">
    {{ form_end(form) }}

</main>

{% endblock %}