{% extends 'base.html.twig' %}

{% block body %}

<main role="main" class="container">

     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Listes produits</h1>
          <p class="lead text-muted">Retrouver ici tout les produits de la boutique</p>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_product_add') }}" class="btn btn-primary my-2">Ajouter un produit</a>
            <a href="{{ path('app_category_add') }}" class="btn btn-secondary my-2">Ajouter une catégorie</a>
          {% endif %}
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
    {% for product in pagination %}
            <div class="col-md-4 col-lg-4 col-md-12">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" width="200" height="200" src="{{ asset('images/products/'~product.imageName) }}" alt="{{ product.imageName }}">
                <div class="card-body">
                  <h5 class="jumbotron-heading">{{ product.name|slice(0, 30) }}</h5>
                  <p class="card-text">{{ product.description|slice(0, 50) }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ path('app_product_show', {id: product.id}) }}" class="btn btn-sm btn-outline-primary">Voir</a>

                      {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_product_edit', {id: product.id}) }}" class="btn btn-sm btn-outline-success">Editer</a>
                        <a href="{{ path('app_product_delete', {id: product.id}) }}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                      {% endif %}

                    </div>
                    <small class="text-muted">{{ product.price }}€</small>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
          </div>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
      </div>


</main>

{% endblock %}