{% extends 'base.html.twig' %}


{% block body %}

    <main role="main" class="container">

        <h1>{{ product.name }}</h1>

        <p class="text-muted">
        
            Publié le {{ product.createdAt | date('d/m/U à H:i') }},
            {{ product.nbViews }} vues
            <span> dans la catégorie : {{ product.category.name }} </span>
        </p>

        <p class="text-muted">{{ product.price }}&euro;</p>
        <p>{{ product.description }}</p>


            <p>
                Image du produit :</br>
                <img class="img-fluid" width="500" height="300px" src="{{ asset('images/products/'~product.imageName) }}" alt="{{ product.imageName }}">
            </p>

    </main>

{% endblock %}