{% extends 'base.html.twig' %}


{% block body %}

    <!-- Begin page content -->
    <main role="main" class="container">
     
    <section>
      <h1>Bienvenue sur ma boutique</h1>
    </section>

      {% for categorie in app.flashes('notice') %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{ categorie }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
      {% endfor %}

    <section>
      <p>lorem ipsum, I hope you're not a member of the fire brigade.

      I know why you choose to have your little, ahem... group-therapy sessions in broad daylight. I know why you're afraid to go out at night. The Batman.

      Bruce Wayne! Design, live and breathe. What brings you out of the prior sleep, Mr. Wayne?

      It's not just your name, sir. It's your father's name. And it's all that's left of him. Don't destroy it.

      Let me get this straight. You think that your client, one of the wealthiest, most powerful men in the world is secretly a vigilante who spends his nights beating criminals to a pulp with his bare hands and your plan is to blackmail this person? Good luck.

      Tomorrow, you will be released. If you are bored of brawling with thieves and want to achieve something there is a rare blue flower that grows on the eastern slopes. Pick one of these flowers. If you can carry it to the top of the mountain, you may find what you were looking for in the first place.

      I am the League of Shadows.

      Perhaps you should read the instructions first?

      Are you so desperate to fight criminals that you lock yourself in to take them on one at a time ?

      I'm not sure you made it loud enough, sir.

      Someone like you. Someone who'll rattle the cages.

      Death does not wait for you to be ready! Death is not considerate of fair! And make no mistake, here you face death. Tiger. Jujitsu. Panther. You're skilled. But this is not a dance. And you are afraid. But not of me. Tell us Mr. Wayne, what do you fear?</p>
    </section>

    </main>

{% endblock %}