 <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_product_index') }}">Boutique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('app_homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ path('app_product_produits') }}">Produits</a>
              {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item nav-link" href="{{ path('app_product_add') }}">Ajouter un produit</a>
            <a class="nav-item nav-link" href="{{ path('app_category_add') }}">Ajouter une categorie</a>
              {% endif %}
          </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
                <a href="{{ path('fos_user_security_logout') }}">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </div>
      </nav>
</header>